Django>=4.2,<5.0
djangorestframework
django-filter
django-crispy-forms
django-tables2
django-extensions
django-admin-interface
django-mptt
django-simple-history
django-import-export
django-colorfield
Pillow
openpyxl
xlsxwriter
reportlab
python-docx
django-cors-headers
requests
python-decouple
gunicorn
whitenoise
dj-database-url

# Production
sentry-sdk